:root {
    --rain-blue: #8BBBD9;
    --murky-blue: #254B59;
    --pale-seafoam: #6DA6A6;
    --leaf-green: #407364;
    --forest-green: #22402F;
}
* {
    box-sizing: border-box;
    color: white;
}

.nav {
    background-color: var(--leaf-green);
    padding: 1rem;  
}
  .btn {
    background-color: var(--forest-green);
    color: white;
  }
